<h4>
  <% page_title ||= "Cool Page You Made" %>
  <%= page_title %>
</h4>

<%= render partial: "layouts/error_messages", locals: { model: @book } %>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <!--
  Only show the author dropdown if we don't
  already have one. Is this acutally good UX
  design? Depends on the application!
  -->
  <% unless @book.author_id %>
    <%= f.label :author, "Auttttthor" %>
    <%= f.select :author_id, Author.all.map{ |auth| [auth.name, auth.id] } %>
  <% else %>
    <%= f.hidden_field :author_id %>
  <% end %>

  <%= f.label :publication_year %>
  <%= f.number_field :publication_year %>

  <%= f.label :synopsis %>
  <%= f.text_area :synopsis %>

  <div>
  <%= f.label :genres %>
  <%= collection_check_boxes(:book, :genre_ids, Genre.all, :id, :name) %>
  </div>

  <%= f.submit %>
<% end %>
