<h4>
  <% page_title ||= "Cool Page You Made" %>
  <%= page_title %>
</h4>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author, "Auttttthor" %>
  <%= f.text_field :author %>

  <%= f.label :publication_year %>
  <%= f.number_field :publication_year %>

  <%= f.label :synopsis %>
  <%= f.text_area :synopsis %>

  <%= f.submit %>
<% end %>
