<!-- <h2>Welcome to the Octos Library!</h2> -->

<p>We have many books sitting around for your reading pleasure</p>

<ul>
<% @books.each do |book| %>
  <li>
    <strong><%= link_to(book.title, book_path(book)) %></strong>

    By: <%= book.author.name %>
    <!-- <a href="/books/#{book.id}">Go to it now!</a> -->

    <%= link_to("Edit", edit_book_path(book)) %>
    <%= link_to("Delete", book_path(book.id), method: :delete, data: { confirm: "Are you sure you want to delete Book #{ book.title }?" }) %>

    <%= link_to("Go find it on google", "http://www.google.com/search?q=#{book.title}") %>
  </li>
<% end %>
</ul>


<%= link_to("Add a New Book", new_book_path, class: "important") %>

<!-- <a href="/books/new" class="important">Add a New Book</a> -->
