<h2>Details for book <%= @book.title %></h2>
<p>Author <%= @book.author.name %></p>
<p>Published: <%= @book.publication_year %></p>
<p>Synopsis: <%= @book.synopsis %></p>
<%= link_to "Edit this book", edit_book_path(@book) %>
