<!DOCTYPE html>
<html>
  <head>
    <title>OctosLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= image_tag "books-icon.png", alt: "Site logo", class: "logo" %>
        Welcome to the Octos Library
      </h1>
      <nav>
        <ul>
          <li><%= link_to "All books", books_path %></li>
          <li><%= link_to "New book", new_book_path %></li>
          <li><%= link_to "All authors", authors_path %></li>
          <li><%= link_to "New author", new_author_path %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; Ada Developers Academy, 2018</p>
    </footer>
  </body>
</html>
