<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <h1>
        <%= image_tag "books-icon.png", alt: "Site logo", class: "logo" %>
        Welcome to the Octos Library
      </h1>
      <nav>
        <ul>
          <li><%= link_to "All books", books_path %></li>
          <li><%= link_to "New book", new_book_path %></li>
          <li><%= link_to "All authors", authors_path %></li>
          <li><%= link_to "New author", new_author_path %></li>

          <li>
            <% if session[:author_id] %>
              <%= link_to "Logout", logout_path, method: :delete %>
            <% else %>
              <%= link_to "Login", login_path %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="flash">
        <% flash.each do |name, message| %>
          <div class="<%= name %>"><%= message %></div>
        <% end %>
      </section>

      <%= yield %>
    </main>

    <footer>
      <p>&copy; Ada Developers Academy, 2018</p>
    </footer>

  </body>
</html>
